{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
  <script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}

<!-- Mount TradingCardContainer cards on to this element. -->
<div id="container"></div>

{# <!-- Mount Float's card on to this element. -->
<div id="float"></div>

<!-- Mount Llambda's card on to this element. -->
<div id="llambda"></div>

<!-- Mount Shortstack Overflow's card on to this element. -->
<div id="shortstack-overflow"></div>

<!-- Mount Seedpy's card on to this element. -->
<div id="seedpy"></div>
 #}
{% endblock %}
